{% extends "admin/layout_admin.html" %}
{% set active_page = "usuarios" %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <!--MESSAGE------------------------------------------------------------------------------->
        <div class="jumbotron">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1 class="display-4">Usuarios</h1>

            <hr class="my-4">
            <a href="/admin/create_account" class="btn btn-success">Añadir usuarios</a>
            <br>
            <br>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Administrador</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for g in data %}
                    <tr>
                        <th scope="row">{{ g.0 }}</th>
                        <td>{{ g.1 }}</td>
                        <td>{{ g.2 }}</td>
                        <td>{{ g.3 }}</td>
                        <td>{{ g.4 }}</td>
                        <td>{% if g.5 == '1' %} Sí {% else %} No {% endif %}</td>
                        <td>
                            <a class="btn btn-warning" href="/admin/edit_usuario/{{ g.0 }}" role="button">Editar</a>
                            <a class="btn btn-danger" href="/admin/delete_usuario/{{ g.0 }}" role="button">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}